
 #genNew{
    background: red;
    display: block;
    padding: 10px;
    font-size: 1rem;
    font-weight: normal;
    font-family: monospace;
    border: none;
  }
  form{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
}
 /* h2{
outline:none;
width: 220px;
height: 30px;
font-size: 14px;
font-weight:700;
font-family: Arial;
border-bottom: 1px solid blue;
margin:0px;
float:left;
}
  */
 